[Unit]
Description=ESAM Director

[Service]
ExecStartPre=/usr/bin/esamd init-db --config /etc/esam/esamd.conf
ExecStart=/usr/bin/esamd start --config /etc/esam/esamd.conf

[Install]
WantedBy=multi-user.target
